<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Switcher</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="loader.min.css">
</head>
<body>
    <div class="loader-body" id="loader">
    <div class="loader"></div>
    </div>

    <div class="wrapper">
    <ul class="bg-bubbles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    </div>

    <img id="logo" src="https://osu.lumilous.pw/static/logos/lumilous.png" style="width: 45%">


    <div id="notification" class="hidden">
        <div class="cls" onclick="closeNotification()">X</div>
        <div id="innerText"></div>
    </div>

    <div id="btn" class="button pink switch" onclick="beginSwitch()">
            <span id="text-connect" class="text">Switch to Lumilous</span>
            <span class="icon">
                <i id="icon-switch" class="fas fa-sync-alt"></i>
            </span>
    </div>

    <div id="links">
        <a onclick="invokeNative('open_browser', ['https:\/\/lumilous.pw'])">Website</a>
        <a onclick="invokeNative('open_browser', ['https:\/\/discord.gg/lumilous'])">Discord</a>
        <a onclick="invokeNative('open_browser', ['https:\/\/lumilous.pw/doc/tos'])">Terms of Service</a>
    </div>

    <div id="loadingSpin" class="button blue switch removeme">
        <p id="status"></p>
    </div>

    <p class="version">v1.1</p>

    <script src="loader.js"></script>
    <script>
        const statusText = document.getElementById("status");
        const notificationElement = document.getElementById("notification");
        const notificationInnerText = document.getElementById("innerText");
        const loadingSpinElement = document.getElementById("loadingSpin");
        const btnElement = document.getElementById("btn");
        const states = {
            "empty":         { s: 0,  t: ""},
            "download_ip":   { s: 12, t: "Downloading IPs..." },
            "download_cert": { s: 12, t: "Downloading Certificate..." },
            "install_cert":  { s: 12, t: "Installing Certificate..." },
            "uninstall_cert":  { s: 12, t: "Uninstalling Certificate..." },
            "install_ip":    { s: 12, t: "Installing IPs..." },
            "uninstall_ip":    { s: 12, t: "Uninstalling IPs..." }
        }
        const notificationStates = {
            "error_install_cert":  "We could not install the certificate! Please check #faq on our Discord for more information!",
            "error_install_ip":    "We could not modify your hosts file! Please check #faq on our Discord for more information!",
            "error_download_ip":   "We could not fetch the ips! Please check https://status.lumilous.pw for more information or ask in #help in our discord!",
            "error_download_cert": "We could not fetch the certificate! Please check https://status.lumilous.pw for more information or ask in #help in our discord!",
            "ok":                  "Switch was successful! Please make sure to restart your client."
        }
        let currentState = "none";
        let isActive = false;

        const closeNotification = () => {
            notificationElement.classList.add("hidden");
        }

        const showNotification = (state) => {
            const r_state = notificationStates[state];

            notificationElement.classList.remove("hidden");

            if (state.startsWith("error"))
                notificationElement.classList.add("error");
            else
                notificationElement.classList.remove("error");

            if (state == "ok") {
                setState("empty");
                btnElement.classList.remove("hidden");
            }
            
            notificationInnerText.innerText = r_state;
        }

        const setState = (state) => {
            currentState = state;
            const r_state = states[state];

            statusText.style.fontSize = r_state.s + "px";
            statusText.innerText = r_state.t;
        }

        const invokeNative = (type, args) => {
            if (window.external.invoke)
                window.external.invoke(JSON.stringify({ type, args }));
            else
                console.log("Invoke triggered for " + type + "(" + args.join(", ") + ")")
        }

        const fetchIPs = async () => {
            setState("download_ip");
            
            const ips = (await fetch("https://old.lumilous.pw/ips.txt")).text();
            // TODO: make a better way to handle IPs by as example include hostnames
            // so we can use bm6.ppy.sh etc
            return ips;
        }

        const fetchCertificate = async () => {
            setState("download_cert");
            
            const certData = (await fetch("https://old.lumilous.pw/lumilous.crt")).text();
            return certData;
        }

        const performSwitch = async (ip, certData) => {
            invokeNative("perform_switch", [ip.trim(), certData, isActive.toString()]);
        }

        const callbackCheckStatus = async (_isActive) => {
            if (!_isActive) {
                btnElement.innerText = "Click to Activate";
            } else {
                btnElement.innerText = "Click to Deactivate";
            }

            isActive = _isActive;
        }

        const beginSwitch = async () => {
            btnElement.classList.add("hidden");
            loadingSpinElement.classList.remove("removeme");

            const ips = await fetchIPs();
            const cert = await fetchCertificate();

            performSwitch(ips, cert);
        }

        (async () => {

            invokeNative("check_status", []);
        })();

    </script>
</body>
</html>